<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Bill } from '@/types/Bill'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading';
import BillService from '@/services/bill'
import { useBillStore } from '@/stores/Bill';
const BillStore = useBillStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  {
    title: 'Position',
    key: 'position',
    value: 'position'
  },
  // {
  //   title: 'Roles',
  //   key: 'roles',
  //   value: (item: any | Bill) => item.roles.join(', ')
  // },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilBill: Bill = {
    id : -1, //? บอกว่า id เป็นอ optional คือ ตัวแปรของชนิดข้อมูล bill อาจมีหรือไม่มีคุณสมบัตินี้ก็ได้
    name: '', //ชื่อพนักงาน
    salary: 0, //เงินเดือนพนักงาน
    position: '', //ตำแหน่งงาน
    workingtime: 0, //เวลาทำงาน
    status: '' // สถานะการจ่ายเงิน
}
const editedBill = ref<Bill>(JSON.parse(JSON.stringify(initilBill)))

let editedIndex = -1
let lastId = 4
function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedBill.value = Object.assign({}, initilBill)
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  closeDelete()
  await BillStore.deleteBill(editedBill.value)
}
function editItem(item: Bill) {
  editedBill.value = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: Bill) {
  editedBill.value = Object.assign({}, item)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedBill.value = Object.assign({}, initilBill)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  closeDialog()
  await BillStore.saveBill(editedBill.value)
}

onMounted(() => {
  BillStore.getBills()
})
</script>
<template>
   <!-- <div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Name</th>
          <th class="text-left">Salary</th>
          <th class="text-left">Position</th>
          <th class="text-left">WorkTime</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in Bills" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.salary }}</td>
          <td>{{ item.position }}</td>
        </tr>
      </tbody>
    </v-table>
  </div> -->
  <div>
    <v-data-table :headers="headers" :items="BillStore.Bills">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Bills</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props"> New Bill </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Bill Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="editedBill.name" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Email"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="editedBill.salary" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Full Name"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="editedBill.position" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="Password"
                          placeholder="Enter your password"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="BillStore.getBills"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
